extends layout

block content

  h1
    span.header-rule
    | Contact Me
    span.header-rule
    
  p Please contact me now to see how I can help you with your Real Estate, Estate Planning / Probate, Landlord / Tenant, or Consumer Law needs.

  p 
    b Christian D. Posada. P.A.
    br
    | Cell: 561.251.4993
    br
    | Christian@LawPosada.com
    
  p Lake Worth Office
    br
    | 6517 Jessy Court
    br
    | Lake Worth, Florida
    br
    | 33467