span(id='nav_menu') Menu
nav
  ul
    li 
      a(href='/posada/real-estate.html') Lake Worth Real Estate
    li 
      a(href='/posada/estate-planning-probate.html') Estate Planning / Probate
    li 
      a(href='/posada/landlord-tenant.html') Landlord / Tenant
    li 
      a(href='/posada/consumer-law.html') Consumer Law
    li 
      a(href='/posada/resources.html') Resources
    li 
      a(href='/posada/contact.html') Contact