extends layout

block content

	ul.crumbs
		span &#8627;
		li 
			a(href="./") Lake Worth Real Estate & Probate Attorney
		span &nbsp;&gt;&nbsp;
		li.current_crumb Resources

	h1
		span.header-rule
		span.scales &#9878;
		| &nbsp;Resources&nbsp;
		span.scales &#9878; 
		span.header-rule
		
	ul.resources                                                                                                                      
		h2 FLORIDA
		li
			a(href="http://www.myflorida.org/", title="The Official Portal for the State of Florida")  The Official Portal for the State of Florida | http://www.myflorida.org
		li
			a(href="http://www.flcourts.org/", title="Florida State Courts") Florida State Courts | http://www.flcourts.org
		li
			a(href="http://www.flclerks.com/directory.html", title="Florida Clerk of Courts") Florida Clerk of Courts | http://www.flclerks.com/directory.html or http://www.myfloridaclerks.com                                                                                                                                        			
		li
			a(href="http://www.floridabar.org" title="Florida Bar") Florida Bar | http://www.floridabar.org/                                                                                                                                                                
		li
			a(href="http://dor.myflorida.com/dor/" title="Florida Department of Revenue") Florida Department of Revenue | http://dor.myflorida.com/dor/

		br 
		h2 SOUTH FLORIDA                                           

		li
			a(href="http://www.4dca.org/" title="Florida Fourth District Court of Appeals") Florida Fourth District Court of Appeals | http://www.4dca.org                                                                                                                   
		li
			a(href="http://www.flsd.uscourts.gov" title="United States District Court Southern District of Florida ") United States District Court Southern District of Florida | http://www.flsd.uscourts.gov
		
		br
		h2 BROWARD COUNTY   
		
		li
			a(href="http://www.clerk-17th-flcourts.org/ClerkWebSite/Welcome2.aspx" title="Broward County Clerk of Courts") Broward County Clerk of Courts | http://www.clerk-17th-flcourts.org/ClerkWebSite/Welcome2.aspx                                                                                                                                        
		li
			a(href="http://www.17th.flcourts.org/" title="Broward County 17th Judicial Circuit") Broward County 17th Judicial Circuit | http://www.17th.flcourts.org/                                                                                                                                        
		li
			a(href="http://www.bcpa.net/" title="Broward County Property Appraiser") Broward County Property Appraiser | http://www.bcpa.net/
		li
			a(href="http://www.broward.org/Pages/Welcome.aspx" title="Broward County Government Home Page") Broward County Government Home Page | http://www.broward.org/Pages/Welcome.aspx
		li
			a(href="http://www.browardbar.org" title="Broward County Bar Association") Broward County Bar Association | http://www.browardbar.org
                                                                                                                                        
		br
		h2 PALM BEACH COUNTY                                                                                                                           

		li
			a(href="http://www.mypalmbeachclerk.com/" title="Palm Beach County Clerk of Courts") Palm Beach County Clerk of Courts | http://www.mypalmbeachclerk.com/                                                                                                                                        
		li
			a(href="http://15thcircuit.co.palm-beach.fl.us/web/guest/cadmin" title="Palm Beach County 15th Judicial Circuit") Palm Beach County 15th Judicial Circuit | http://15thcircuit.co.palm-beach.fl.us/web/guest/cadmin                                                                                                                                        
		li
			a(href="http://www.co.palm-beach.fl.us/papa/index.htm" title="Palm Beach County Property Appraiser") Palm Beach County Property Appraiser | http://www.co.palm-beach.fl.us/papa/index.htm                                                                                                                                        
		li
			a(href="http://www.co.palm-beach.fl.us/tax/" title="Palm Beach Tax Collector") Palm Beach Tax Collector | http://www.co.palm-beach.fl.us/tax/                                                                                                                                          
		li
			a(href="http://www.co.palm-beach.fl.us/" title="Palm Beach County Government Home Page") Palm Beach County Government Home Page | http://www.co.palm-beach.fl.us/                                                                                                                                          
		li
			a(href="http://www.palmbeachbar.org" title="Palm Beach County Bar Association") Palm Beach County Bar Association | http://www.palmbeachbar.org

		br
		h2 UNITED STATES                                                                                                                            

		li
			a(href="http://www.uscourts.gov/Home.aspx" title="United States Courts") United States Courts | http://www.uscourts.gov/Home.aspx
		li
			a(href="http://portal.hud.gov/portal/page/portal/HUD" title="United States Department of Housing and Urban Development")  United States Department of Housing and Urban Development | http://portal.hud.gov/portal/page/portal/HUD
		li
			a(href="http://www.makinghomeaffordable.gov/Pages/default.aspx" title="Making Home Affordable") Making Home Affordable | http://www.makinghomeaffordable.gov/Pages/default.aspx
		li
			a(href="http://www.americanbar.org/aba.html" title="American Bar Association") American Bar Association | http://www.americanbar.org/aba.html

		br
		h2 BUSINESS   
                                                                                                                        
		li
			a(href="http://www.sba.gov" title="Small Business Administration") Small Business Administration | http://www.sba.gov
		li
			a(href="http://www.irs.gov" title="IRS") IRS | http://www.irs.gov
		li
			a(href="http://www.sunbiz.org" title="Florida Department of State – Division of Corporations") Florida Department of State – Division of Corporations | http://www.sunbiz.org/

		br
		h2 MISCELLANEOUS   

		li
			a(href="http://www.flhsmv.gov/index.html" title="Florida Department of Highway Safety and Motor Vehicle") Florida Department of Highway Safety and Motor Vehicle | http://www.flhsmv.gov/index.html                                                                                                                                          
		li
			a(href="http://www.ftc.gov" title="Federal Trade Commission") Federal Trade Commission | http://www.ftc.gov                                                     
		li
			a(href="http://office.microsoft.com/en-us/templates/" title="Microsoft Office Business Templates") Microsoft Office Business Templates | http://office.microsoft.com/en-us/templates/
		li
			a(href="http://www.floridaucc.com/UCCWEB/" title="Florida Secured Transaction Registry") Florida Secured Transaction Registry | http://www.floridaucc.com/UCCWEB/